/* global styles */

:root{
    --background-color:#86B6F6;
    --header-color:#176B87;
    --text-color:#E8F9FD;
    --button-color:#79DAE8;
    --secondary-color1:#4A628A;
    --secondary-color2:#1A1A1D;

    --font:roboto;
}